<div class="row">
    <div class="col text-center">
    <h1 class="text-info">You've reached the ends of the internet fam..</h1>
    <hr style="width: 60%;">
    <a asp-controller="Movies" asp-action="Index" class="btn btn-outline-success">Home page</a>
    </div>
</div>